/* mat-form-field{
   
  margin-left: 400px;
    width: 600px;
} */
body{
    background-image: url('/assets/noufal-tariq-QjiF9vJi_aY-unsplash.jpg');
    height: 100%;
    width: 100%;
   background-size: cover;
   background-repeat: no-repeat;
}