<div class="bootstrap wrapper">
    <div class="conatiner">
        <form [formGroup]="register">
           
                <mat-form-field class="full-width" appearance="outline">
                <mat-label   style="color: white; font-size: larger ;">Email</mat-label>
                <input required type="email" formControlName="email" class="form-control" id="email" name="email" matInput />
            </mat-form-field> 
            <mat-form-field class="full-width" appearance="outline">
                <mat-label   style="color: white; font-size: larger ;">First Name</mat-label>
                <input required type="text" formControlName="firstname"  class="form-control" id="firstname" name="firstname" matInput />
            </mat-form-field>
            <mat-form-field class="full-width" appearance="outline">
                <mat-label   style="color: white; font-size: larger ;">Last Name</mat-label>
                <input required type="text" formControlName="lastname"  class="form-control" id="lastname" name="lastname" matInput />
            </mat-form-field> 
            <mat-form-field class="full-width" appearance="outline">
                <mat-label   style="color: white; font-size: larger ;">Password</mat-label>
                <input required type="password" formControlName="password"  class="form-control" id="password" name="password" matInput />
            </mat-form-field> 
            <mat-form-field class="full-width" appearance="outline">
                <mat-label   style="color: white; font-size: larger ;">Phone No</mat-label>
                <input required type="text" formControlName="phoneno"  class="form-control" id="phoneno" name="phoneno" matInput />
            </mat-form-field>    
         
              <button required type="submit" (click)="registerusermethod()" mat-raised-button>Create New Account</button> 
        </form>
    </div>
    </div>