<h1>hello</h1>
<h1>hello</h1>
<div class="continer">

    <div class ="buttons">
        <button mat-raised-button  style="background-color: transparent; color: black;"><mat-icon style="color: green;">add_to_drive</mat-icon></button>
        <button mat-raised-button style="background-color: transparent;"><mat-icon style="color: yellow;">delete_outline</mat-icon></button>

        <p style="color: white; text-align: right; margin-top: -25px; font-size: 18px;">User DashBoarad</p>
     </div>


</div>

<router-outlet></router-outlet>