
<div class="navbar">
 <img src="\assets\Royal_Enfield_logo_new.svg.png">
    <div class ="buttons">
        <button mat-raised-button routerLink="user" style="background-color: transparent;"><mat-icon style="color: green;">perm_identity</mat-icon></button>
            <button mat-raised-button routerLink="admin" style="background-color: transparent;"><mat-icon style="color: red;">supervisor_account</mat-icon></button >
                <button mat-raised-button routerLink="home" style="background-color: transparent;"><mat-icon style="color: yellow;">home</mat-icon></button>
            </div>

   
</div>

