.full-width{
    text-align: left;
    width: 500px;
    margin-top: 10px;
    margin-left: 45px;
    margin-right: 0px;
    font-size: 12px;
}

button{
    background-color: transparent;
    font-size: 20px;
    margin-left: 245px;
    border: 1px solid red;

}
